<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="E83E0F3F-902F-4FEA-A846-76109D756EF3" UpgradeCode="941AC7A4-03DD-478D-B13D-BD8C734901FC"
		Name="rwho" Language="1033" Version="$(var.ProductVersion)" Manufacturer="ACM@UIUC">
		<Package Description="rwho for Windows" Manufacturer="ACM@UIUC"
      InstallerVersion="200" Compressed="yes" />
    <CustomAction Id="ErrNetfx20NotInstalled" Error="[ProductName] requires Microsoft .NET Framework 2.0." />
		<Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />
    <UIRef Id="WixUI_InstallDir" />
    <CustomAction Id="SetTargetDir" Property="TARGETDIR" Value="[ProgramFilesFolder]" />
    <CustomAction Id="SetInstallUtilPath" Property="INSTALLUTIL" Value="[WindowsFolder]Microsoft.NET\Framework\v2.0.50727\InstallUtil.exe" />
    <CustomAction Id="InstallUtil" ExeCommand="&quot;[#rwho.exeFile]&quot;" Property="INSTALLUTIL" />
    <CustomAction Id="UnInstallUtil" ExeCommand="/u &quot;[#rwho.exeFile]&quot;" Property="INSTALLUTIL" Return="ignore" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="INSTALLDIR" Name="rwho">
				<Component Id="rwhoComponent" Guid="4EE79C8F-AFE9-D6B7-F9BD-647D69D28148">
					<File Id="rwho.exeFile" Name="rwho.exe" DiskId="1" Source="rwho.exe" Vital="yes" KeyPath="yes" />
          <File Id="ruptime.exeFile" Name="ruptime.exe" DiskId="1" Source="rwho.exe" Vital="yes" />
          <File Id="rwho.admFile" Name="rwho.adm" DiskId="1" Source="rwho.adm" />
					<Environment Id="UpdatePath" Name="PATH" Action="set" System="yes" Part="last" Value="[INSTALLDIR]" />
				</Component>
			</Directory>
		</Directory>
		<Feature Id="rwhoFeature" Title="Default Install" Level="1">
			<ComponentRef Id="rwhoComponent" />
		</Feature>
	  <Property Id="NEWERPRODUCTFOUND" Secure="yes" />
		<Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Property Id="INSTALLUTIL" Secure="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<Upgrade Id="941AC7A4-03DD-478D-B13D-BD8C734901FC">
			<UpgradeVersion Minimum="$(var.ProductVersion)" Property="NEWERPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="yes" />
			<UpgradeVersion Minimum="1.0.0" Maximum="$(var.ProductVersion)" Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="yes" />
		</Upgrade>
		<InstallExecuteSequence>
      <Custom Action="ErrNetfx20NotInstalled" Before="CostInitialize">NOT NETFX20INSTALLED AND NOT Installed</Custom>
      <Custom Action="SetTargetDir" Before="CostFinalize">NOT REMOVE AND NOT RESUME AND NOT TARGETDIR</Custom>
      <Custom Action="SetInstallUtilPath" Before="CostFinalize">NOT INSTALLUTIL</Custom>
      <RemoveExistingProducts Before="InstallInitialize" />
      <InstallExecute After="InstallFiles" />
      <Custom Action="InstallUtil" After="StartServices">$rwhoComponent&gt;2</Custom>
      <Custom Action="UnInstallUtil" After="MsiUnpublishAssemblies">$rwhoComponent=2</Custom>
		</InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="SetTargetDir" Before="CostFinalize">NOT REMOVE AND NOT RESUME AND NOT TARGETDIR</Custom>
    </InstallUISequence>
    <Property Id="NETFX20INSTALLED" Secure="yes">
      <RegistrySearch Id="Netfx20InstallRegKey" Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v2.0.50727" Name="Install" Type="raw" /> 
    </Property>
	</Product>
</Wix>
